<!DOCTYPE HTML>
<!--
	Solarize by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
	<title>No Sidebar - Solarize by TEMPLATED</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery.dropotron.min.js"></script>
	<script src="js/skel.min.js"></script>
	<script src="js/skel-layers.min.js"></script>
	<script src="js/init.js"></script>
	<noscript>
		<link rel="stylesheet" href="css/skel.css" />
		<link rel="stylesheet" href="css/style.css" />
	</noscript>
	<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
</head>

<body>

	<!-- Header Wrapper -->
	<div class="wrapper style1">

		<!-- Header -->
		<div id="header">
			<div class="container">

				<!-- Logo -->
				<h1><a href="#" id="logo">Solarize</a></h1>

				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li class="active"><a href="index.html">Inicio</a></li>
						<li><a href="#">Login</a></li>
						<li><a href="#">Registo</a></li>
						<li><a href="">Sobre</a>
							<ul>
								<li><a href="#">O que é o Go Tourist?</a></li>
								<li><a href="#">Quem somos?</a>
									<ul>
										<li><a href="#">João Magalhães</a></li>
										<li><a href="#">Filipe Pinheiro</a></li>
										<li><a href="#">Diogo Gonçalves</a></li>
									</ul>
								</li>
								<li><a href="#">Entra em Contato</a></li>
							</ul>
						</li>
						<li><a href="left-sidebar.html">Left Sidebar</a></li>
						<li><a href="right-sidebar.html">Right Sidebar</a></li>
						<li><a href="no-sidebar.html">No Sidebar</a></li>
					</ul>
				</nav>

			</div>
		</div>
	</div>

	<!-- Main -->
	<div id="main" class="wrapper style4">

		<!-- Content -->
		<div id="content" class="container">
			<div class="row">
				<section>
					<header class="major">
						<h2>Registo de Utilizador</h2>
					</header>
					<div class="col-lg-12 well">
						<div class="row">
							<form action="/myaction" role="form" method="post">
								<div class="col-sm-12">

									<div class="col-sm-6 form-group">
										<label>Nome Completo</label>
										<input type="text" name="nome" id="nome" placeholder="Ex: João Pedro Ferreira Magalhães" class="form-control">
									</div>
									<div class="row">
										<div class="col-sm-6 form-group">
											<label>Username</label>
											<input type="text" name="username" id="username" placeholder="Ex: João57" class="form-control">
										</div>
									</div>
									<div class="form-group">
										<label>Password</label>
										<input type="password" id="password" name="password" placeholder="olaMundo10." rows="3" class="form-control">
									</div>
									
									<div class="row">
										<div class="col-sm-4 form-group">
											<label>Cidade</label>
											<input type="text" name="cidade" type="cidade" placeholder="Ex: Porto" class="form-control">
										</div>
										<div class="col-sm-4 form-group">
											<label>Localidade</label>
											<input type="text" name="localidade" id="localidade" placeholder="Ex: Rio Tinto" class="form-control">
										</div>
										<div class="col-sm-4 form-group">
											<label>Código Postal</label>
											<input type="text" name="codigopostal" id="codigopostal" placeholder="Ex: 4475-079" class="form-control">
										</div>
									</div>

									<div class="form-group">
										<label>Contacto</label>
										<input type="text" name="contacto" id="contacto" placeholder="Ex: 910536752" class="form-control">
									</div>
									<div class="form-group">
										<label>Endereço de Email</label>
										<input type="text" name="email" id="email" placeholder="Ex: abc123@gmail.com" class="form-control">
									</div>
									<div class="form-group">
										<label>Número Identificação Fiscal</label>
										<input type="text" name="nif" id="nif" placeholder="Ex: 244536756" class="form-control">
									</div>

									<button type="button" class="btn btn-lg btn-info">Submit</button>
								</div>
							</form>
						</div>
					</div>
				</section>
				<div id="sidebar" class="4u">
							<section>
								<header class="major">
									<h2>Etiam malesuada</h2>
								</header>									
								<ul class="default">
									<li><a href="#">Pellentesque lectus gravida blandit</a></li>
									<li><a href="#">Lorem ipsum consectetuer adipiscing</a></li>
									<li><a href="#">Phasellus nibh pellentesque congue</a></li>
									<li><a href="#">Cras vitae metus aliquam pharetra</a></li>
									<li><a href="#">Maecenas vitae orci feugiat eleifend</a></li>
									<li><a href="#">Phasellus nibh pellentesque congue</a></li>
									<li><a href="#">Cras vitae metus aliquam pharetra</a></li>
								</ul>
							</section>
							<section>
								<header class="major">
									<h2>Mauris vulputate</h2>
								</header>
								<ul class="default">
									<li><a href="#">Pellentesque lectus gravida blandit</a></li>
									<li><a href="#">Lorem ipsum consectetuer adipiscing</a></li>
									<li><a href="#">Phasellus nibh pellentesque congue</a></li>
									<li><a href="#">Cras vitae metus aliquam pharetra</a></li>
									<li><a href="#">Maecenas vitae orci feugiat eleifend</a></li>
									<li><a href="#">Phasellus nibh pellentesque congue</a></li>
									<li><a href="#">Cras vitae metus aliquam pharetra</a></li>
								</ul>
							</section>
						</div>
			</div>
		</div>

	</div>

	<!-- Team -->
	<div class="wrapper style5">
		<section id="team" class="container">
			<header class="major">
				<h2>Quem Somos?</h2>
				<span class="byline">Um grupo de amigos unido, empenhado numa unica tarefa.</span>
			</header>
			<div class="row">
				<div class="4u">
					<a href="#" class="image"><img src="images/jm.jpg" alt=""></a>
					<h3>João Magalhães</h3>
					<p>Breve introdução</p>
				</div>
				<div class="4u">
					<a href="#" class="image"><img src="images/fp.jpg" alt=""></a>
					<h3>Filipe Pinheiro</h3>
					<p>Breve introdução</p>
				</div>
				<div class="4u">
					<a href="#" class="image"><img src="images/dg.jpg" alt=""></a>
					<h3>Diogo Gonçalves</h3>
					<p>Breve introdução</p>
				</div>

			</div>
		</section>
	</div>

	<!-- Footer -->
	<div id="footer">
		<section class="container">
			<header class="major">
				<h2>Entra em contato connosco!</h2>
				<span class="byline">Adoramos receber o teu feedback!</span>
			</header>
			<ul class="icons">
				<li class="active"><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>
				<li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
				<li><a href="#" class="fa fa-dribbble"><span>Pinterest</span></a></li>
				<li><a href="#" class="fa fa-google-plus"><span>Google+</span></a></li>
			</ul>
			<hr />
		</section>

		<!-- Copyright -->
		<div id="copyright">
			Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)
		</div>
	</div>

</body>

</html>